body{
    height: 100vh;
    margin: 0;
}
#container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template: 1fr 6fr / 1fr 3fr;
}
#header{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    background-color: red;
}
#dock{
    background-color: gray;
    padding: 4vh 3vw;
}
#lists-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
#lists-container > li {
    padding: 20px 0;
    font-size: 1.4rem;
}
#main{
    padding: 5vh 5vw;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}
#focused-list{

}
#focused-item{

}
button{
    text-align: left;
}
#newListButton{
    padding-left: 8px;
}
.list-title{
    padding-left: 20px;
    flex: 1;
}
#dock .list{
    display: flex;
    flex: 1;
}
.item{
    display: flex;
    flex: 1;
}
.item-title{
    flex: 1;
}
ul{
    padding: 0;
}
.checked{
    text-decoration:line-through
}